<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Now Electronics - SB Admin</title>
    <link href="/css/style.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet"
        crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"
        crossorigin="anonymous"></script>


    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/css/mdb.min.css" rel="stylesheet">
</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="/">NOW ELECTRONICS</a>
        <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
            <ul class="navbar-nav ml-auto">
                <li class="dropdown nav-item">
                    <a class=" dropdown-toggle nav-link waves-effect waves-light dark-white-text font-weight-bold"
                        data-toggle="dropdown" aria-expanded="false" href="#">
                        <i class="fas fa-user white-text"></i> {{nombre}}</a>
                    <div class="dropdown-menu">
                        {{#if login}}
                        <a class="  font-weight-bold" href="/perfil">Tu perfil</a>
                        <div class="dropdown-divider"></div>
                        <a class=" font-weight-bold" href="/cerrar-sesion">Cerrar sesión</a>
                        {{else}}
                        <a class=" waves-light dark-white-text font-weight-bold" href="/crear-cuenta">Regístrarse</a>
                        <div class="dropdown-divider"></div>
                        <a class="waves-light dark-white-text font-weight-bold" href="/iniciar-sesion">Iniciar
                            sesión</a>
                        {{/if}}
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Principal</div>
                        <a class="nav-link" href="/admin">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>
                        <div class="sb-sidenav-menu-heading">Tablas</div>
                        <a class="nav-link" href="/admin/productos">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Productos
                        </a>
                        <a class="nav-link" href="/admin/usuarios">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Usuarios
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Conectado como:</div>
                    {{{nombre}}}
                </div>
            </nav>
        </div>
        {{{body}}}
    </div>


    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/js/bootstrap.min.js">
    </script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/js/mdb.min.js"></script>
    <script src="https://maps.google.com/maps/api/js"></script>
    <script type="text/javascript">
        /* WOW.js init */
        new WOW().init();
        // MDB Lightbox Init
        $(function () {
            $("#mdb-lightbox-ui").load("mdb-addons/mdb-lightbox-ui.html");
        });
        // Tooltips Initialization
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

        // Material Select Initialization
        $(document).ready(function () {
            $('.mdb-select').material_select();
        });

        // SideNav Initialization
        $(".button-collapse").sideNav();

        function limpiar() {
            document.getElementById('imagen').value = ''
            document.getElementById("preview").setAttribute("src", "/img/blanco.png");
            document.getElementById("preview2").setAttribute("src", "/img/blanco.png");
        }

        function previewImage() {
            var file = document.getElementById("imagen").files;
            if (file.length > 0) {
                var fileReader = new FileReader();
                var fileReader2 = new FileReader();

                fileReader.onload = function (event) {
                    document.getElementById("preview").setAttribute("src", event.target.result);
                };

                fileReader2.onload = function (event) {
                    document.getElementById("preview2").setAttribute("src", event.target.result);
                };

                fileReader.readAsDataURL(file[0]);
                fileReader2.readAsDataURL(file[1]);
            }
        }

        $("#eliminar").on("show.bs.modal", function (event) {
            var button = $(event.relatedTarget)

            var productoid = button.data("productoid")
            var modal = $(this)

            var elemento = document.getElementById("delete")

            modal.find(".modal-body #productoid").val(productoid)

            elemento.href = "/admin/productos/eliminar/" + productoid;
        })

        $("#eliminar1").on("show.bs.modal", function (event) {
            var button = $(event.relatedTarget)

            var usuarioid = button.data("usuarioid")
            var modal = $(this)

            var elemento = document.getElementById("delete1")

            modal.find(".modal-body #usuarioid").val(usuarioid)

            elemento.href = "/admin/usuarios/eliminar/" + usuarioid;
        })
    </script>
</body>

</html>