<br>
<br>
<br>
<br>
<div class="container">
    <h2>Garantía Adicional</h2>
    <p>¡Bienvenida/o a <em>www.nowElectronics.com</em>!</p>
    <p>
        Todos nuestros artículos, dentro de este sitio Web, incluyen la garantía del proveedor que puede variar según el
        artículo adquirido, y se puede hacer efectiva en cualquiera de nuestras tiendas o en ServiTotal. Pero, ¡también
        puedes adquirir un contrato de garantía adicional!</p>
    <br>
    <h3>¿Qué es una garantía adicional?</h3>
    <ul class="item-list">
        <li>
            <p>Es un beneficio que te extiende y te amplia los beneficios de la garantía de fábrica hasta por cinco
                años,
                asegurando su satisfacción mediante el adecuado funcionamiento de su artículo, el ahorro que disfrutará
                y la
                tranquilidad de que nosotros nos hacemos cargo de cualquier inconveniente que se presente.</p>
        </li>
        <li>
            <p>Es un contrato de garantía adicional que te garantiza el buen funcionamiento de tu artículo hasta por un
                período de cinco años.</p>
        </li>
    </ul>
    <br>
    <h3>¿Qué me cubre esta garantía adicional?</h3>
    <ul class="item-list">
        <li> Asistencia profesional.</li>
        <li> Asistencia a domicilio.</li>
        <li> Mano de obra sin límite y sin cargos extras o deducibles.</li>
        <li> Préstamo de productos.</li>
        <li> Revisión anual del producto para verificar su buen funcionamiento.</li>
        <li> Cambio del producto si no es reparable.</li>
        <li> 15% de descuento en reparaciones de otros artículos fuera del contrato.</li>
        <li> Cobertura por fallas generadas debido a fluctuación de voltaje.</li>
        <li> Cobertura por calor, polvo ó humedad.</li>
        <li> Servicio consulta 24/7.</li>
        <li> CASH BACK al no utilizar el contrato durante el período estipulado.</li>
        <li> Servicio de aspirado de su mueble de sala o comedor.</li>
        <li> Los componentes de madera estarán cubiertos contra la polilla ( aplica a muebles).</li>
    </ul>
</div>
<br>
<br>
<br>