<div class="page-header">
  <div class="NuevaPassword">
    <h2>.</h2>
    {{!-- Mensajes para el usario --}}
    {{>showMessages messages}}
    <div class="form-registrarse">
      <form class="form-NuevaPassword" method="POST">
        <h5>Ingresa tu Nueva Contraseña</h5>
        <p>Solicitaste el cambio de tu contraseña.</p>
        <input class="controls" type="password" name="password" placeholder="Ingresa tu Nueva Contraseña">
        <button type="submit" class="buttons">Cambiar</button>
      </form>
    </div>
  </div>
</div>