<div class="page-header">
  <div class="Restablecer">
    <h2>.</h2>
    {{!-- Mensajes para el usario --}}
    {{>showMessages messages}}
    <div class="form-registrarse">
      <form class="form-Restablecer" method="POST" action="/olvide-password">
        <h5>Restablece tu contraseña </h5>
        <input class="controls" type="email" name="email" placeholder="Ingresa tu Correo Electronico">
        <button type="submit" class="buttons">Restablecer</button>
        <p>Now Electronics</p>
      </form>
    </div>
  </div>
</div>