<div class="page-header">
    <div class="snosotros">
        <div class="ewk_cont_banner_sec_3">
            <!-- <h1 style="color: white;">Sobre nosotros</h1> -->
            <div class="container">
                <div class="row">
                    <div class="col-md-4">

                        <h3>Valores</h3>
                        <p>
                        <h5>Respeto:</h5> Buscaremos constantemente mantener la armonía en la relación con compañeros de
                        trabajo y clientes.
                        </p>
                        <p>
                        <h5>Lealtad:</h5> Tener un fuerte compromiso y mostrar fidelidad.
                        </p>
                        <p>
                        <h5>Honestidad:</h5> Ser íntegros para recibir a cambio la confianza de los clientes.
                        </p>

                    </div>

                    <div class="col-md-4">
                        <h3>Misión</h3>
                        <p>Satisfacer las necesidades de las personas interesadas en nuestros productos y artículos de
                            novedad.</p>
                    </div>

                    <div class="col-md-4">
                        <h3>Visión</h3>
                        <p>Ser una empresa con protagonismo, con el mejor servicio a clientes, con los productos y
                            artículos más nuevos y actualizados.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>