<style>
    html,


    .jarallax {
        height: 700px;
    }

    @media (max-width: 740px) {

        html,
        body,
        header,
        .jarallax {
            height: 100vh;
        }
    }

    @media (min-width: 800px) and (max-width: 850px) {

        html,
        body,
        header,
        .jarallax {
            height: 100vh;
        }
    }

    @media (min-width: 560px) and (max-width: 650px) {
        header .jarallax h1 {
            margin-bottom: 1.5rem !important;
        }

        header .jarallax h5 {
            margin-bottom: 1.5rem !important;
        }
    }

    .top-nav-collapse {
        background-color: #3246e4 !important;
    }

    .navbar:not(.top-nav-collapse) {
        background: transparent !important;
    }

    @media (max-width: 768px) {
        .navbar:not(.top-nav-collapse) {
            background: #3246e4 !important;
        }
    }

    @media (min-width: 800px) and (max-width: 850px) {
        .navbar:not(.top-nav-collapse) {
            background: #3246e4 !important;
        }
    }

    h5 {
        letter-spacing: 3px;
    }
</style>

<!-- Intro Section -->
<div id="home" class="view jarallax" data-jarallax='{"speed": 0.2}'
    style="background-image: url(https://mdbootstrap.com/img/Photos/Others/img%20%2853%29.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="mask rgba-stylish-light">
        <div class="container h-100 d-flex justify-content-center align-items-center">
            <div class="row pt-5 mt-3">
                <div class="col-md-12 mb-3">
                    <div class="intro-info-content text-center">
                        <h1 class="display-3 white-text mb-5 wow fadeInDown" data-wow-delay="0.3s"> <a
                                class="white-text font-weight-bold">Sobre nosotros</a></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<div class="page-header">
    <div class="snosotros">
        <div class="ewk_cont_banner_sec_3">
            <!-- <h1 style="color: white;">Sobre nosotros</h1> -->
            <div class="container">
                <div class="row">
                    <div class="col-md-4">

                        <h3>Valores</h3>
                        <p>
                        <h5>Respeto:</h5> Buscaremos constantemente mantener la armonía en la relación con
                        compañeros de
                        trabajo y clientes.
                        </p>
                        <p>
                        <h5>Lealtad:</h5> Tener un fuerte compromiso y mostrar fidelidad.
                        </p>
                        <p>
                        <h5>Honestidad:</h5> Ser íntegros para recibir a cambio la confianza de los clientes.
                        </p>

                    </div>

                    <div class="col-md-4">
                        <h3>Misión</h3>
                        <p align="justify">Buscar satisfacer las necesidades de compra que tenemos todos, a través
                            de bienes
                            de excelencia, originalidad y calidad. Nuestro modelo de negocio se basa en procesos de
                            comercio electrónico, seguros y eficientes. Contamos con un equipo de trabajo altamente
                            capacitado, con la mejor aptitud de servicio, sentido de la responsabilidad y ética, que
                            busca dar un buen servicio y de calidad en el mejor tiempo posible. La innovación
                            constante
                            nos permite llegar al cliente con eficiencia.</p>
                    </div>

                    <div class="col-md-4">
                        <h3>Visión</h3>
                        <p align="justify">Ser una de las empresas líder en el mercado online. Vamos a desarrollar
                            un canal
                            fuerte de ventas por medio de nuestra Tienda Virtual, con los mejores productos,
                            en la que encontrarás nuestro apoyo y la solución, de una manera fácil, cómoda y
                            segura, buscando constantemente nuevas alternativas, basados en el conocimiento
                            profundo de las necesidades de nuestra distinguida clientela.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>