<!DOCTYPE html>
<html lang="en">

<head>
    <!--  Required meta tags always come first  -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Material Design Bootstrap Template</title>
    <!--  Font Awesome  -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="../css/mdb.min.css" rel="stylesheet">
    <!-- Custom styles -->
    <style>
        html,
     
      
        .jarallax {
            height: 700px;
        }
        
        @media (max-width: 740px) {
            html,
            body,
            header,
            .jarallax {
                height: 100vh;
            }
        }
        
        @media (min-width: 800px) and (max-width: 850px) {
            html,
            body,
            header,
            .jarallax {
                height: 100vh;
            }
        }
        
        @media (min-width: 560px) and (max-width: 650px) {
            header .jarallax h1 {
                margin-bottom: 1.5rem !important;
            }
            header .jarallax h5 {
                margin-bottom: 1.5rem !important;
            }
        }
        
        .top-nav-collapse {
            background-color: #3f51b5!important;
        }
        
        .navbar:not(.top-nav-collapse) {
            background: transparent!important;
        }
        
        @media (max-width: 768px) {
            .navbar:not(.top-nav-collapse) {
                background: #3f51b5!important;
            }
        }
        
        @media (min-width: 800px) and (max-width: 850px) {
            .navbar:not(.top-nav-collapse) {
                background: #3f51b5!important;
            }
        }
        
        h5 {
            letter-spacing: 3px;
        }
    </style>
</head>

<body>

    
        <!-- Intro Section -->
        <div id="home" class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(https://mdbootstrap.com/img/Photos/Others/img%20%2853%29.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;">
            <div class="mask rgba-stylish-light">
                <div class="container h-100 d-flex justify-content-center align-items-center">
                    <div class="row pt-5 mt-3">
                        <div class="col-md-12 mb-3">
                            <div class="intro-info-content text-center">
                                <h1 class="display-3 white-text mb-5 wow fadeInDown" data-wow-delay="0.3s"> <a class="white-text font-weight-bold">Sobre nosotros</a></h1>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>
<br>
<br>
<br>
<br>
<div class="page-header">
    <div class="snosotros">
        <div class="ewk_cont_banner_sec_3">
            <!-- <h1 style="color: white;">Sobre nosotros</h1> -->
            <div class="container">
                <div class="row">
                    <div class="col-md-4">

                        <h3>Valores</h3>
                        <p>
                        <h5>Respeto:</h5> Buscaremos constantemente mantener la armonía en la relación con compañeros de
                        trabajo y clientes.
                        </p>
                        <p>
                        <h5>Lealtad:</h5> Tener un fuerte compromiso y mostrar fidelidad.
                        </p>
                        <p>
                        <h5>Honestidad:</h5> Ser íntegros para recibir a cambio la confianza de los clientes.
                        </p>

                    </div>

                    <div class="col-md-4">
                        <h3>Misión</h3>
                        <p align="justify">Buscar satisfacer las necesidades de compra que tenemos todos, a través de bienes
                             de excelencia, originalidad y calidad. Nuestro modelo de negocio se basa en procesos de 
                             comercio electrónico, seguros y eficientes. Contamos con un equipo de trabajo altamente 
                             capacitado, con la mejor aptitud de servicio, sentido de la responsabilidad y ética, que 
                             busca dar un buen servicio y de calidad en el mejor tiempo posible. La innovación constante 
                             nos permite llegar al cliente con eficiencia.</p>
                    </div>

                    <div class="col-md-4">
                        <h3>Visión</h3>
                        <p align="justify">Ser una de las empresas líder en el mercado online. Vamos a desarrollar un canal 
                            fuerte de ventas por medio de nuestra Tienda Virtual, con los mejores productos,
                             en la que encontrarás nuestro apoyo y la solución, de una manera fácil, cómoda y 
                             segura, buscando constantemente nuevas alternativas, basados en el conocimiento 
                             profundo de las necesidades de nuestra distinguida clientela.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



   
            <hr class="my-5">

            <!-- Section: Gallery -->
            <section id="gallery" class="section wow fadeIn" data-wow-delay="0.3s">

                <!-- Section heading -->
                <h1 class="font-weight-bold text-center h1 my-5">Nuestros productos</h1>
                  <div class="row pb-4">
                    <div class="col-md-12">

                        <div id="mdb-lightbox-ui"></div>

                        <div class="mdb-lightbox">

                            <figure class="col-md-4">
                                <a href="https://mdbootstrap.com/img/Photos/Horizontal/Work/12-col/img%20(43).jpg" data-size="1600x1067">
                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/12-col/img%20(43).jpg" class="img-fluid z-depth-1" />
                                </a>
                            </figure>

                            <figure class="col-md-4">
                                <a href="https://mdbootstrap.com/img/Photos/Horizontal/Work/12-col/img%20(41).jpg" data-size="1600x1067">
                                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/Work/6-col/img%20(41).jpg" class="img-fluid z-depth-1" />
                                </a>
                            </figure>

                            <figure class="col-md-4">
                                <a href="https://lh3.googleusercontent.com/proxy/rKP_3OdzMfhPilAZzryhmnbHyZ3zb7COpIOMFsMrpCKQJ6qZ5mqDgVPS7g-wWl5PXEqjD1jJBoqfTOhHBh_-QNIf_hU72VnPN-ZWBUF_yAtB6YdoW6DiVoTTPQ" data-size="1600x1067">
                                    <img src="https://lh3.googleusercontent.com/proxy/rKP_3OdzMfhPilAZzryhmnbHyZ3zb7COpIOMFsMrpCKQJ6qZ5mqDgVPS7g-wWl5PXEqjD1jJBoqfTOhHBh_-QNIf_hU72VnPN-ZWBUF_yAtB6YdoW6DiVoTTPQ" class="img-fluid z-depth-1" />
                                </a>
                            </figure>

                            <figure class="col-md-4">
                                <a href="https://jet-web.s3.us-west-1.amazonaws.com/images/catalog/TELEVISION/60-UJ6580/UJ6580_Destop01_200917.jpg" data-size="1600x1067">
                                    <img src="https://jet-web.s3.us-west-1.amazonaws.com/images/catalog/TELEVISION/60-UJ6580/UJ6580_Destop01_200917.jpg" class="img-fluid z-depth-1" />
                                </a>
                            </figure>

                            <figure class="col-md-4">
                                <a href="https://photo2.i-run.fr/jbl-harman-flip-3-electronique-122434-1-z.jpg" data-size="1600x1067">
                                    <img src="https://photo2.i-run.fr/jbl-harman-flip-3-electronique-122434-1-z.jpg" class="img-fluid z-depth-1" />
                                </a>
                            </figure>

                            <figure class="col-md-4">
                                <a href="https://images.samsung.com/is/image/samsung/mx-microwave-oven-grill-mg402mcdxbb-mg402mcdxbb-ax-211280246?scl=1&fmt=png-alpha" data-size="1600x1067">
                                    <img src="https://images.samsung.com/is/image/samsung/mx-microwave-oven-grill-mg402mcdxbb-mg402mcdxbb-ax-211280246?scl=1&fmt=png-alpha" class="img-fluid z-depth-1" />
                                </a>
                            </figure>

                        </div>

                    </div>

                </div>

            </section>
            <!-- /Section: Gallery -->

  
    <!--  SCRIPTS  -->
    <!-- JQuery -->
    <script type="text/javascript" src="../js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="../js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="../js/mdb.min.js"></script>
    <script>
        new WOW().init();

        // MDB Lightbox Init
        $(function() {
            $("#mdb-lightbox-ui").load("../mdb-addons/mdb-lightbox-ui.html");
        });
    </script>
</body>

</html>