<br>
<br>
<br>
<br>
<div class="container">
    <h2>Términos y Condiciones</h2>
    <p>Gracias por ingresar a www.nowelectronics.com, nuestra meta es mantener tu confianza bajo los mecanismos de
        seguridad
        en
        el manejo de tu información personal. Como cliente de NOW ELECTRONICS, te aseguramos que tu información personal
        estará
        protegida. Al considerar esto, te invitamos a tomar decisiones que nos permitan proporcionarte productos y
        servicios
        de calidad que te ayuden a alcanzar tus necesidades y objetivos.
        <br>
        <br>
        Sírvase leer los presentes términos y condiciones cuidadosamente. Al acceder a este sitio y a cualquier página
        del
        mismo, te comprometes a aceptar los términos y condiciones que aparecen a continuación. Los derechos de
        propiedad
        intelectual y las imágenes que se muestran en este sitio, pertenecen al proveedor y/o NOW ELECTRONICS.
        <br>
        <br>
        NOW ELECTRONICS se reserva el derecho de realizar cambios o modificaciones a las políticas que rigen este sitio,
        sin
        previa notificación.
    </p>
    <br>
    <br>
    <h2>Compra de Productos/Servicios</h2>
    <p>El valor máximo es de USD 5,000.00, o su equivalente en moneda nacional a la fecha de la compra, este monto podrá
        ser en el valor de un producto o varios en una sola compra.
        <br>
        <br>
        De igual forma podrá hacer diversas compras en un día hasta cubrir el monto máximo de USD 5,000.00, y una vez
        haciendo la entrega del producto(s) de las compras que hayan cubierto el valor máximo de USD 5,000.00, el
        usuario podrá realizar nuevas compras hasta cubrir nuevamente el monto máximo descrito.
        <br>
        <br>
        NOW ELECTRONICS se reserva el derecho de revisar, limitar, detener o denegar cualquier pedido o suma de
        cualquier
        transacción, aun posterior al pago y hasta antes de la entrega. En caso de existir error involuntario tanto en
        el precio como en el tipo de producto, NOW ELECTRONICS reembolsará en su totalidad la cantidad pagada por
        cliente.
        Personal de NOW ELECTRONICS se comunicará vía correo electrónico a la dirección proporcionada en el pedido para
        confirmar la compra.
    </p>
</div>